*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    font-family: "PT Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

/* .debug{
    border: 1px solid red;
} */

:root {
	--color-nav: #0084fd;
	--color-light-blue: #b5ddff;
	--color-purple: #9792e4;
	--color-footer: #333333;
	--color-free: #fbc25f;
}

/* general */
header{
    width: 100%;
    background-color: var(--color-nav);
    position: fixed;
    top: 0;
    left: 0;
   padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: var(--color-nav);
    display: none;
}

header nav{
    position: relative;
}

header nav a{
    display: block;
    padding: 5px 10px;
    width: 100%;
    
}

header nav:hover ul{
    display: block;
}

footer{
    background-color: var(--color-footer);
}
 main{
    padding-top:70px;
 }
section{
    scroll-margin-top:75px;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}
/* id */
#hero{
    width: 100%;
}
/* utilty */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.section-purple{
    background-color: var(--color-purple)
}

.icon{
    font-size: 3em;
}

.padding{
    padding: 10px;
}

.text-content{

}

.padding-b{
    padding-bottom: 30px;
}

.margin-t{
    margin-top: 20px;
}

.margin-b{
    margin-bottom: 20px;
}

.testimonial-img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
}

.left-img{
    margin-left: 10%;
}

.btn-more{
    display: inline-block;
    background-color: var(--color-purple);
    padding: 0.5em 2em;
    border-radius: 15px;
    color: white;
    margin-right: 10%;
}

.btn-linkedin{
    
    background-color: var(--color-purple);
    margin: 20px;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
}

.btn-started{
    
    margin: 0 auto;
    background-color: white;
    color: var(--color-purple);
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
}
/* card utility */
.card{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 1em;
}

.card-blue{
    background-color: var(--color-light-blue);
}

.card-left{

}

.card-right{
    
}

.card-white{
    color: black;
    background-color: white;
}

.card-white h2{
    color: var(--color-purple);
}

.arrow{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 40px;
    margin-bottom: 20px;
}
    
   

/* text */

.text-center{
    text-align: center;
}

.text-blue{
    color: var(--color-nav);
}

.text-white{
    color: white;
}

.text-purple{
    color: var(--color-purple);
}

.text-yellow{
    color: var(--color-free);
    font-size: xx-large;
}

.tetx-little{
    font-size: smaller;
}


/* nav */
.logo-img{
    width: 20px;
}

/* flex utility */

.d-flex{
    display: flex;
    
}

.space-b{
    justify-content: space-between;
}
